e{
    /* text-align: center; */
    padding-bottom: 2px;
    padding-top: 2px;
    
}
.registrationform{
     /* border:2px solid black;  */
     padding: 35px;
    /* margin:3% 30% 1% 30%; */
    
    
}
input{
    float: right;
}
textarea{
    float: right;
}
.Type{
float: right !important;
padding-right: 115px;
padding-bottom: 10px;
}
#main{
margin-left: 20px;
margin-right: 20px;
}
#footer {
    background:#737373;
  }
  #footer ul.social li a{
  color:#ffffff;
  }
  #footer ul.social li a:hover{
    color:black;
  }
  #footer ul.social li{
    padding-right: 15px;
    padding-top:15px;
  }
  label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
/* The container */

  .cow{
      padding-top: 10px;
  }